design/
build/*
!build/readme.md

src/favicon/
src/templates/mixins.pug
src/js/inlineHeadBundle.js
src/js/entry.js
src/js/vendor/*.js
src/scss/style.scss
src/json

__MACOSX
.Saved/
_arc/
bower_components/
node_modules/
.publish/
.DS_Store
*.sublime-*
*.rar
*.zip
.idea
ex_files
Thumbs.db

.gitattributes
.editorconfig
.gitignore
.prettierrc.json
.prettierignore
.stylelintignore
.stylelintrc
new.js
LICENSE
package.json
