//- Basic page template

include mixins.pug

-
  var isMainPage = false,
      isFontsPreload = false,
      isOpenGraph = false,
      pageTitle = "title",
      metaDescription = "description",
      metaKeywords = "keywords",
      json = locals,
      path = pugPaths,
      isProjectNav = includeProjectNav,
      isProjectLibrary = buildLibrary

block variables

doctype html
html(class="no-js", lang="ru")
  include ./template__default-head.pug

  body
    noscript У вас отключен JavaScript. Это пугает.

    if isProjectNav
      include ../service/project-nav.pug

    .layout
      .layout__header
        +header
      .layout__nav
        +side-nav
      .layout__main
        block content
          .content-filler content-filler
      .layout__footer
        +footer

    +modal

    block templates

    script(src= path.js + "bundle.js")

    block scripts
