//- Все примеси в этом файле должны начинаться c имени блока (side-nav)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin side-nav(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +side-nav("some-mod")

  //- список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " side-nav--" + modsList[i].trim();
      }
    }

  .side-nav(class=allMods)&attributes(attributes)
    .side-nav__close(data-burger)
      svg.side-nav__icon
        use(href= path.icon + "icon__close")

    .side-nav__inner
      .side-nav__links
        each section in json.sideNav
          .side-nav__section
            .side-nav__title!= section.title
            .side-nav__row
              each link in section.list
                a.side-nav__link(href= link.href)!= link.title
      .side-nav__call
        a.side-nav__phone(href="tel:88004444140") 8 (800) 444-41-40
        button.side-nav__callback(data-callback) обратный звонок
      .side-nav__socials
        a.side-nav__social(href="#")
          svg.side-nav__icon
            use(href= path.icon + "icon__social--tg")
        a.side-nav__social(href="#")
          svg.side-nav__icon
            use(href= path.icon + "icon__social--vk")
        a.side-nav__social(href="#")
          svg.side-nav__icon
            use(href= path.icon + "icon__social--wa")
