@use "src/scss/breakpoints";

@mixin body($weight: 400) {
  font-weight: $weight;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

@mixin title($weight: 600) {
  font-weight: $weight;
  font-size: 32px;
  line-height: 1.1875;
}

@mixin title-s($weight: 600) {
  font-weight: $weight;
  font-size: 21px;
  line-height: 1.2858;
}

@mixin text-m($weight: 400) {
  font-weight: $weight;
  font-size: 18px;
  line-height: 1.3334;
}

@mixin text-m-lh1($weight: 400) {
  font-weight: $weight;
  font-size: 18px;
  line-height: 1;
}

@mixin text-s($weight: 400) {
  font-weight: $weight;
  font-size: 16px;
  line-height: 1.375;
  @content;
}

@mixin text-xs($weight: 400) {
  font-weight: $weight;
  font-size: 14px;
  line-height: 1.4286;
}

@mixin input {
  @include text-s;

  @content;
}

@mixin thanks($weight: 400) {
  font-weight: $weight;
  font-size: 21px;
  line-height: 1.3;
  @content;

  @media screen and (min-width: breakpoints.$screen-d) {
    font-size: 34px;
  }
}

@mixin hero-title($weight: 700) {
  font-weight: $weight;
  font-size: 40px;
  line-height: 1;
  @content;

  @media screen and (min-width: breakpoints.$screen-d) {
    font-size: 104px;
  }
}

@mixin stepper-point {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  @content;

  @media screen and (min-width: breakpoints.$screen-d) {
    font-size: 25px;
  }
}

@mixin stepper-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1;
  @content;

  @media screen and (min-width: breakpoints.$screen-ti) {
    font-size: 42px;
  }
}

@mixin stepper-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  @content;

  @media screen and (min-width: breakpoints.$screen-ti) {
    font-size: 36px;
  }
}

@mixin stepper-small {
  font-size: 16px;
  line-height: 1.125;
  @content;

  @media screen and (min-width: breakpoints.$screen-ti) {
    font-size: 18px;
  }
}

@mixin radio {
  font-size: 18px;
  line-height: 1.2778;
  @content;

  @media screen and (min-width: breakpoints.$screen-ti) {
    font-size: 28px;
    line-height: 1.2858;
  }
}
