@use "src/scss/breakpoints";
@use "src/scss/mixins/text-styles";

.section {
  $block-name: &; // #{$block-name}__element

  padding: 40px 0;

  @media screen and (min-width: breakpoints.$screen-ti) {
    padding: 64px 0;
  }

  @media screen and (min-width: breakpoints.$screen-d) {
    padding: 80px 0;
  }
}
