@use "src/scss/breakpoints";
@use "src/scss/mixins/text-styles";

.article {
  $block-name: &; // #{$block-name}__element

  max-width: 696px;

  h2 {
    @include text-styles.text-s(600);

    margin: 0 0 16px;
  }

  p + h2 {
    margin-top: 24px;
  }

  p {
    @include text-styles.text-xs;

    margin: 0;

    + p {
      margin-top: 20px;
    }
  }

  ul {
    margin: 20px 0;
    padding-left: 20px;
  }

  li {
    @include text-styles.text-xs;
  }
}
