@use "src/scss/breakpoints";
@use "src/scss/mixins/text-styles";

.doc-tile {
  $block-name: &; // #{$block-name}__element

  &__icon {
    width: 36px;
    height: 36px;
    margin-bottom: 18px;
  }

  &__title {
    margin: 0 0 12px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
  }

  &__descr {
    margin: 0;
    font-size: 18px;
    line-height: 1;

    @media screen and (min-width: breakpoints.$screen-d) {
      font-size: 24px;
    }
  }
}
