extends ../templates/template__default.pug

block variables
  -
    isMainPage = true
    pageTitle = "Allvisa | Главная страница"
    metaDescription = "description"
    metaKeywords = "keywords"

block content
  section.hero.hero--full-height
    .hero__back
      img.hero__bg(src= path.img + "img__bg-hero--family.webp", alt="", aria-hidden="true")
      img.hero__ring.hero__ring--left(src= path.img + "img__ring.svg", alt="")
      img.hero__ring.hero__ring--right(src= path.img + "img__ring.svg", alt="")
    .container
      .hero__inner
        .hero__info
          .hero__label Визовый центр ALLVISA
          h1.hero__title Оформим визы, поможем с эммиграцией в другую страну
          button.hero__button.hero__button--mt(data-modal="#callback") Получить консультацию
        .hero__row
          .hero__item
            .hero__item-title 9+ лет
            .hero__item-descr Работаем на рынке
          .hero__item
            .hero__item-title 99 %
            .hero__item-descr Одобренных виз
          .hero__item
            .hero__item-title 0 %
            .hero__item-descr Рассрочка для клиентов
          .hero__item
            .hero__item-title 100 тыс.
            .hero__item-descr Оформленных виз
  section.section
    .container
      +services(json.mainPage.services)
  section.section
    .container
      .section__inner
        .section__header
          h2.section__title Популярные направления
          p.section__descr «ALLVISA» — ваш надёжный помощник в получении #[b визы]
        .section__body
          +direction-slider(json.directionSlider)
          +countries(json.countries.full)
  section.section
    .container
      .section__inner
        .section__header
          h2.section__title Отзывы
          p.section__descr.section__descr--flex Рейтинг на 2GIS
            span 4,9
              svg
                use(href= path.icon + "icon__star")
            svg.section__gis
              use(href= path.icon + "logo__2gis")
        .section__body
          +reviews
        .section__footer
          a.button.button--primary.button--large(href="reviews.html") Смотреть все отзывы
  section.section
    .container
      .about-section
        h2.about-section__title О компании
        button.about-section__video
          img(src= path.img + "img__video-bg.webp", alt="")
          svg
            use(href= path.icon + "icon__play")
        .about-section__text
          h2.about-section__title О компании
          p.
            Туристический визовый центр «Allvisa» — команда настоящих профессионалов,
            готовых помочь в решении туристических вопросов, таких как оформление виз,
            подбор отелей, запись в визовые центры, бронирование и покупка билетов,
            оформление ВНЖ и других.
          p.
            Работая уже не первый год в этой сфере, мы настроили грамотный процесс
            оформления туристических документов, предлагая на сайте свои услуги по доступным
            ценам. Оставьте заявку, и наши менеджеры очень скоро с вами свяжутся
            для решения вашего вопроса. Официальный визовый центр «Allvisa» — можете
            нам доверять!
          a.button.button--primary.button--large.about-section__button(href="about.html") Перейти в раздел
  section.section
    .container
      .section__inner
        .section__header
          h2.section__title Наши преимущества
        .section__body
          +advantages(json.advantages)
  section.section
    .container
      .section__inner
        .section__header
          h2.section__title Новости
        .section__body
          +news-slider
