extends ../templates/template__default.pug

block variables
  -
    isMainPage = true
    pageTitle = "Allvisa | Главная страница"
    metaDescription = "description"
    metaKeywords = "keywords"

block content
  .hero hero
