extends ../templates/template__lk.pug

block variables
  -
    isMainPage = false
    pageTitle = "Мои данные"
    metaDescription = "description"
    metaKeywords = "keywords"

block content
  .content
    .content__header
      h1.content__title Мои данные
    .content__tabs.tabs
      .tabs__scroll
        .tabs__labels
          .tabs__label.tabs__label--active(data-href="#data") Данные профиля
          .tabs__label(data-href="#conditions") Условия использования
          .tabs__label(data-href="#policy") Политика конфиденциальности
          .tabs__label(data-href="#about") О приложении
      .tabs__panes
        #data.tabs__pane.tabs__pane--active
          form#formMyData.form(action="https://jsonplaceholder.typicode.com/posts")
            .form__inner
              .form__section
                .form__row.form__row--four
                  label.form__field
                    .form__label Номер телефона
                    input.input(type="tel", name="phone", placeholder="+7 (___) ___-__-__", data-phone-field, required)
                  label.form__field
                    .form__label Имя
                    input.input(type="text", name="name", required)
                  label.form__field
                    .form__label Фамилия
                    input.input(type="text", name="lastname", required)
                  label.form__field
                    .form__label Отчество
                    input.input(type="text", name="middleName", required)
                .form__row.form__row--three
                  label.form__field
                    .form__label E-mail
                    input.input(type="email", name="email", placeholder="example@mail.ru", required)
                  label.form__field
                    .form__label Дата рождения
                    input.input(type="date", name="birthday", required)
                  label.form__field
                    .form__label Текущее гражданство
                    input.input(type="text", name="currentCitizenship", required)
              .form__section
                h2.form__title Загранпаспорт
                .form__row.form__row--four
                  label.form__field
                    .form__label Серия и номер
                    input.input(type="text", name="intPassNumber", data-passport-int, required)
                  label.form__field
                    .form__label Кем выдан
                    input.input(type="text", name="intIssuedBy", required)
                  label.form__field
                    .form__label Дата выдачи
                    input.input(type="date", name="intIssueDate", required)
                  label.form__field
                    .form__label Дата истечения
                    input.input(type="date", name="intExpiryDate", required)
              .form__section
                h2.form__title Паспорт РФ
                .form__row.form__row--four
                  label.form__field
                    .form__label Серия и номер
                    input.input(type="text", name="passNumber", data-passport-russia, required)
                  label.form__field
                    .form__label Кем выдан
                    input.input(type="text", name="passIssuedBy", required)
                  label.form__field
                    .form__label Дата выдачи
                    input.input(type="date", name="passIssueDate", required)
                  label.form__field
                    .form__label Дата истечения
                    input.input(type="date", name="passExpiryDate", required)
              .form__footer
                button.button.button--primary(type="submit") Отправить заявку
        #conditions.tabs__pane
          article.article
            p Условия использования личного кабинета и политика обработки персональных данных
            p Определения: 1. Личный Кабинет, предназначен для формирования документов для получения визы; 2. Учетная запись - токен регистрации. Личный кабинет; 3. Пользователь Личного Кабинета - пользователь, имеющий учетную запись в Личном кабинете; 4. Персональные данные - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу;
            p В данном документе изложены условия и правила, на которых работает Web-сайт Личного кабинета расположенный по адресу https://allvisa.center/. Необходимо внимательно ознакомиться с данным документом до начала пользования Личным Кабинетом. Регистрация пользователя на сайте означает его автоматическое согласие с Условиями использования Личным Кабинетом, а также согласие на обработку персональных данных в соответствии с настоящими Условиями.
            p Allvisa — компания для формирования документов, необходимых для подачи пакета документов в посольство или консульство. 1. Личный кабинет поддерживает следующие функции: 2. хранение персональных данных; 3. формирование заявки на формирование документов; 4. онлайн формирование документов. Перечень функций постепенно будет пополняться. Используя Личный Кабинет, Пользователь соглашается на обработку персональных данных и гарантирует, что все предоставленные им сведения верны и актуальны.
            p.
              Общие Условия использования Системы: 1. Регистрируясь в Личном Кабинете Пользователь гарантирует, что прочитал и принял настоящие Условия; 2. Пользователь при регистрации предоставляет достоверную, реальную и полную информацию о себе, согласно необходимым данным для создания Учетной записи в Личном Кабинете ; 3. Пользователь несет ответственность за корректное представление данных, на основании которых формируются документы для подачи на визу; 4. Если для Личного Кабинета будут необходимы дополнительные сведения и / или документация, пользователь обязуется предоставить необходимую информацию в сроки, установленные Allvisa; 5. Allvisa оставляет за собой право изменять настоящие Условия в любое время, по своему усмотрению. Пользователи будут уведомлены о таких изменениях заранее до их действительности. Дальнейшее использование Личным Кабинетом после уведомления пользователя об изменениях будет означать согласие с ними. Принятие изменения условий означает, что каждый пользователь соглашается с тем, что все операций выполненные до изменения правил и условий использования, подчиняются старой версии, действующей в то время; 6. Allvisa можеn время от времени обновлять и / или добавлять изменения в Личный Кабинет, чтобы улучшить работу и / или исправить ошибки определенного функционала и соответствовать потребностям наших пользователей; 7. Allvisa не гарантирует, что Личный Кабинет или любой его функционал всегда будут доступны или будут бесперебойными. Мы можем приостановить или ограничивать доступ к разному функционалу Личного Кабинета, согласно различным причинам; 8. Пользователь также несет ответственность за то, чтобы лица, которые соединяются к Личному Кабинету через его интернет - соединение, знали об условиях использования Личным Кабинетом; 9. Все идентификационные коды пользователя (пароль или другое), предоставленные в Личном Кабинете в рамках обеспечения безопасности, пользователь должен рассматривать как строго конфиденциальную. Такая информация не должна раскрываться третьим лицам; 10. Если пользователь знает или подозревает, что кто-либо, кроме него знает его идентификационный код или пароль пользователя, он должен незамедлительно обратиться в службу поддержки Allvisa. 11. Allvisa является владельцем или лицензиатом всех прав на интеллектуальную собственность в Личном Кабинете и в материалах, опубликованных в нем. Эти работы защищены законами об авторском праве и договорами по всему миру. 12. Пользователи не имеют права использовать контент или какую либо его часть данного Личного Кабинета в коммерческих целях, не получив разрешения от Allvisa. 13. При нарушении этих условий, право на использование Личного Кабинета будет немедленно прекращено, и пользователь, по усмотрению Allvisa, должен будет вернуть или уничтожить любые копии материалов, которые сделал. При необходимости, будут вестись судебные разбирательства.<br>
              Сведения платформы: Все сведения на Платформе представлены как общая ознакомительная информация. Это не означает, что на основании этих сведений Пользователь должен пойти на сделку или совершать другие операции.<br>
              Запрещенные действия: Пользователь может использовать Платформу исключительно в законных целях. Пользователь не может пользоваться Платформой, если: 1. нарушается местное, национальное или международное право или регулирование; 2. это является незаконным или мошенническим действием; 3. это делается в целях причинения вреда или причинить кому - либо вред; 4. материалы Личного Кабинета используются для отправки вредоносных программ, шпионского ПО, либо любой другой материал, который может причинить материальный и / или физический ущерб;<br>
              Также, при создании учетной записи, пользователь соглашается: 1. Не воспроизводить, не дублировать, не копировать и не перепродавать какую-либо часть Личного Кабинета; 2. Не наносить ущерб Личному Кабинету; 3. Не получать доступ без полномочий, не вмешиваться, не контролировать, не наносить ущерб в любую часть Личного Кабинета, любое оборудование связанные с обеспечением работоспособности Личного Кабинета, любое программное обеспечение, которое используется для предоставления Личного Кабинета, любую услугу или оборудование, используемое третьей стороной. про вирусы: 1. Allvisa не гарантирует, что Личный Кабинет будет безопасной и будет без ошибок или вирусов. 2. Пользователь сам несет ответственность за настройку программных обеспечений, обеспечивающих защиту от вредоносных материалов. 3. Пользователь не должен вводить вирусы, трояны и любые другие вредоносные программные обеспечения. Пользователь не должен пытаться получить несанкционированный доступ к Личному Кабинету, серверу, на котором хранится домен, или любому серверу, компьютеру или базе данных, подключенных к личному Кабинету. Пользователь не должен применять атаки, приводящие к отказу в обслуживании. Нарушив это положение, Пользователь совершает уголовное преступление в соответствии с Законом о неправомерном использовании компьютерных устройств. Мы сообщим о любом таком нарушении соответствующим правоохранительным органам, и мы будем сотрудничать с этими органами, раскрывая им личность нарушителей. В случае подобных нарушений, право на использование Личного Кабинета немедленно прекратится.<br>
              Нарушение условий использования В случае, если Allvisa обнаружит нарушение условий использования, Allvisa может предпринять меры, по устранению угроз, так как: 1. предупреждение пользователя; 2. временное или постоянное прекращение права на использование Личного Кабинета; 3. временное или постоянное удаление учетной записи из Личного Кабинета; 4. судебные разбирательства (судебные иски) с целью возмещения всех расходов; 5. раскрытие необходимой информации правоохранительным органам, согласно требованиям закона.<br>
              Правила ссылок на контент Для использования ссылок на любой контент Личного Кабинета применяются правила: 1. Пользователь не должен использовать ссылку на Личный Кабинет, если в последующем это нанесет материальный, репутационный, коммерческий или физический ущерб сайту и/или Личному Кабинету; 2. Пользователь не может ссылаться на Личный Кабинет на любом другом сайте, кроме главной страницы сайта https://allvisa.center/; 3. Allvisa оставляет за собой право отозвать разрешение на подключение главной страницы Личного Кабинета к себе на сайт без предварительного уведомления; 4. Сайт, где есть ссылка на главную страницу https://allvisa.center/ должен соответствовать стандартам, описанным в этих условиях использования; Если пользователю необходимо использовать другой функционал https://allvisa.center/ у себя на сайте, он должен связаться с нами.
        #policy.tabs__pane
          article.article
            h2 Согласие на обработку персональных данных
            p Согласие на обработку персональных данных (далее – Согласие) в Личном Кабинете Allvisa разработана в соответствии с Федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных» (далее – ФЗ-152). Настоящая Политика определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных в Allvisa (далее – Компания) с целью защиты прав субъектов при обработке их персональных данных. Политика по защите конфиденциальности частной информации
            h2 Принципы обработки персональных данных:
            p Положение о конфиденциальности Allvisa базируется на следующих принципах: 1. сбор Персональных данных осуществляется только для конкретных, ясных и законных целей и не предусматривает дальнейшую обработку данных, не совместимую с этими целями (целевое ограничение); 2. обработка Персональных данных осуществляется законным, справедливым и открытым образом (правомерность, справедливость и открытость); 3. сбор Персональных данных ограничивается только сведениями, необходимыми для целей, в которых эти данные собираются (минимизация данных); 4. Персональные данные являются точными и при необходимости удаляются или исправляются без задержки (точность); 5. Персональные данные хранятся в форме, позволяющей идентифицировать субъекта данных в течении времени, необходимого для целей, в которых эти данные были собраны (ограничение хранения); 6. обработка Персональных данных осуществляется способом, обеспечивающим соответствующую безопасность персональных данных, включая защиту от несанкционированной или незаконной обработки, а также от случайной потери, повреждения или уничтожения, с использованием соответствующих технических и организационных мер (целостность и конфиденциальность); 7. субъекты данных имеют право на доступ к своим Персональным данным, на их изменение или удаление, на ограничение обработки, возражение против нее, а также право на перенос данных.
            h2 Сбор персональных данных
            p 1. Allvisa осуществляет сбор следующих Персональных данных Пользователя, а также иных данных, указываемых Пользователем при использовании веб-сайта, мобильного сайта и мобильных приложений Allvisa: фамилию и имя, адрес, гражданство, номер телефона, адрес электронной почты. 2. Некоторые страницы веб-сайта, мобильного сайта и Личного Кабинета компании Allvisa используют файлы cookies. Для получения подробной информации обратитесь в службу поддержки.
            h2 Передача персональных данных
            p 1. Персональные данные не передаются третьим лицам, за исключением случаев, при которых такая передача необходима для выполнения обязательств по Договору оказания услуг. Allvisa не разглашает Персональные данные третьим лицам в целях предоставления возможности рекламы их продуктов и услуг клиентам Allvisa. 2. Allvisa может предоставить Персональные данные Пользователя в ответ на законные запросы государственных органов, чтобы выполнить закрепленные в применимом законодательстве требования, в том числе, но не ограничиваясь, при выполнении распоряжений суда или в ходе других юридических процедур, инициированных уполномоченными государственными органами.
            h2 Безопасность обработки данных
            p Allvisa надежно обрабатывает Персональные данные Пользователей, применяя надлежащие технические и организационные меры для защиты Персональных данных от случайного или противоправного уничтожения или случайной утери, изменения, недозволенного разглашения или доступа, в частности, если обработка подразумевает передачу данных по сети, а также защиты от других форм противоправного использования. Вопросы о безопасности персональных данных могут быть направлены по вышеуказанным контактным данным.
            h2 Доступ к персональным данным, их изменение или удаление:
            p 1. Пользователи Allvisa имеют право запросить доступ к своим Персональным данным, а также их изменение или удаление, в случаях, предусмотренных законодательством. 2. В целях обеспечения точности (актуальности и достоверности) Персональных данных, Allvisa рекомендует Пользователям информировать нас о любых изменениях или несоответствиях в их Персональных данных. 3. При возникновении вопросов, связанных с: просмотром и/или изменением Персональных данных; доступа к Персональным данным; сроках хранения Персональных данных; обработки Персональных данных в интересах третьей стороны; и других вопросов, связанных с обработкой Персональных данных, обращайтесь по вышеуказанным контактным данным.
            h2 Ответственность
            p 1. Allvisa следит за исполнением требований применимого законодательства и изложенных в настоящем Положении принципов и может продемонстрировать это в любой момент. 2. Allvisa ведет учет деятельности по обработке данных, включая требуемую информацию, и при необходимости готова предоставить данные надзорным органам по их запросу. По любым вопросам, связанным с данным Положением, можно обратиться по указанным контактным данным в Личном Кабинете или на сайте https://allvisa.center/.
            h2 Жалобы
            p 1. Пользователи имеют право направить жалобу касательно обработки их Персональных данных. Все жалобы и запросы своевременно рассматриваются c соблюдением внутреннего распорядка. 2. Жалобы могут быть направлены по по указанным контактным данным в Личном Кабинете или на сайте https://allvisa.center/. Allvisa оставляет за собой право время от времени вносить изменения в Положение. Изменения, внесенные в данный документ в будущем, будут опубликованы в обновлении данного документа.
            h2 Политика использования файлов "Cookies" Allvisa:
            p 1. Allvisa уважает конфиденциальность информации своих клиентов и обязуется защищать любую персональную информацию, предоставляемую пользователями через интернет-сайт. Приведенные ниже сведения помогают пользователям понять, какую информацию Allvisa собирает через веб-сайт, мобильное приложение и каким образом эта информация используется. 2. Посещая и используя веб-сайт Allvisa, пользователь признает, без каких-либо ограничений и оговорок, что прочел, понял и согласен с правилами и условиями данного Положения и, соответственно, согласен на использование файлов cookie в соответствии с данной Политикой. 3. Пользователи могут посещать сайт Allvisa, в своих интересах. На сайте Allvisa используются сбор cookie для обеспечения пользователям максимального удобства. Cookie — это небольшие текстовые файлы, расположенные на устройстве пользователя и предназначенные для обеспечения удобства пользования сайта и экономии времени. Файлы cookie, собираемые Allvisa, не содержат информацию, которая может служить для идентификации лиц. 4. Cookie могут быть постоянными или сессионными. Постоянные cookie-файлы сохраняются браузером и остаются действующими до момента истечения условий срока хранения в конце сеанса (например, когда браузер закрывается); дата истечения была указана, и срок хранения вышел; браузер удалил Cookie по запросу пользователя. Сессионные cookie-файлы становятся недействительными по истечению срока их действия. Electronic Visa Center использует как сессионные, так и постоянные cookie-файлы на сайте e-v-c.ru и всех его под-доменов.
            h2 Назначения cookie-файлов и тегов, используемых Allvisa:
            p 1. ФУНКЦИОНАЛЬНЫЕ ФАЙЛЫ «COOKIE» Анонимные файлы «cookie», которые позволяют пользователям осуществлять навигацию по веб-сайту Allvisa, использовать его функции и получать доступ к защищенным разделам. Они также облегчают навигацию по Системе и используются в следующих целях: напоминание о выбранной стране и предоставление актуального контента; запоминание логина и пароля авторизации; обеспечение надлежащей работы веб-сайта. Информация, собранная данными файлами «cookie», не предназначена для использования в маркетинговых целях. Если использование этого типа файлов «cookie» запрещено пользователем, некоторые разделы веб-сайта Allvisa будут недоступны для пользователя. 2. ЦЕЛЕВЫЕ И/ИЛИ РЕКЛАМНЫЕ ФАЙЛЫ «COOKIE» Данные файлы «cookie» служат для отправки различных версий веб-страницы в маркетинговых целях, а также используются в следующих целях: показ соответствующей и персонализированной рекламы; ограничение количества показов каждого конкретного типа рекламы; определение эффективности рекламной кампании; запоминание посещённых страниц сайта и предоставление собранных данных третьим сторонам, например, рекламодателям. Эти файлы «cookie» зачастую связаны с функциями веб-сайта, предоставляемыми соответствующей третьей стороной. 3. СТОРОННИЕ ФАЙЛЫ COOKIE Данные файлы «cookie» служат для отправки различных версий веб-страницы в маркетинговых целях, а также используются в следующих целях: показ соответствующей и персонализированной рекламы; ограничение количества показов каждого конкретного типа рекламы; определение эффективности рекламной кампании; запоминание посещённых страниц сайта и предоставление собранных данных третьим сторонам, например, рекламодателям. Эти файлы «cookie» зачастую связаны с функциями веб-сайта, предоставляемыми соответствующей третьей стороной. Файлы Cookie не представляют опасности для вашего устройства, так как они являются просто текстовыми файлами, а не исполняемыми программами. Вы можете либо настроить ваш браузер для получения наших файлов cookies, либо пользоваться веб-сайтом Allvisa без этих функциональных возможностей. В последнем случае те текстовые данные, которые вы вводите в формы, не могут быть сохранены для будущих поисков, и при следующем посещении веб-сайта Allvisa вам придётся вводить информацию ещё раз. При этом, к сожалению, у Allvisa также не будет возможности подготавливать и предлагать вам удобный контент. Чтобы удалить сохраненные cookie-файлы браузера, вы можете открыть приведенные ниже ссылки, чтобы получить инструкции для своего браузера: 1. Chrome 2. Firefox 3. Internet Explorer 4. Opera 5. Safari 6. Yandex Данное Положение может обновляться с течением времени — например, в случаях изменений применимого законодательства или применяемых online-технологий. Allvisa рекомендует клиентам регулярно проверять наш сайт на наличие актуальной информации о нашей политике использования cookie.
        #about.tabs__pane
          article.article
            p.
              Allvisa - Ваш помощник при оформлении визы и путешествиях в любые страны.<br>
              Миссия Allvisa состоит в том, чтобы помочь получать достоверную информацию об оформлении виз и правилах пересечения границ в режиме реального времени.<br>
              ИСПОЛЬЗУЯ Allvisa ВЫ МОЖЕТЕ<br>
            ul
              li Узнать, какие визы доступны для оформления
              li Узнать перечень документов для подачи в Консульство и получить образцы
              li Оформить документы на визу онлайн
              li Узнать условия въезда в страну в режиме реального времени
            p ИНФОРМАЦИЯ ОБНОВЛЯЕТСЯ В РЕЖИМЕ РЕАЛЬНОГО ВРЕМЕНИ
            p Поскольку Allvisa обновляет информацию в режиме реального времени, путешественникам не нужно беспокоиться о том, что правила оформления визы и правила въезда в страну постоянно меняются.
