extends ../templates/template__default.pug

block variables
  -
    isMainPage = false
    pageTitle = "Allvisa | Новость"
    metaDescription = "description"
    metaKeywords = "keywords"

block content
  .hero.hero--full-height-mobile.hero--mh
    .hero__back
      img.hero__bg(src= path.img + "img__bg-hero--china.webp", alt="", aria-hidden="true")
      img.hero__ring.hero__ring--left(src= path.img + "img__ring.svg", alt="")
      img.hero__ring.hero__ring--right(src= path.img + "img__ring.svg", alt="")
    .container
      .hero__inner
        .hero__info
          h1.hero__title Выбираем тур в Китай
  section.section
    .container
      article.news-post
        p.news-post__lead.
          Китай, стремительно развивающаяся страна с многовековыми традициями и древним наследием,
          является одним из самых востребованных направлений для туристов по всему миру, в том
          числе и из России.
        h2 Посещение Китая
        p.
          Хайнань, расположенный в южном регионе Китая и отличающийся тропическим климатом,
          считается одним из самых посещаемых туристических мест. Часто туристы называют
          Хайнань Восточными Гавайями: кристально чистый воздух и потрясающие тропические
          леса покоряют даже самых взыскательных путешественников. Любителям пляжного отдыха
          остров предлагает золотые пески, обилие солнца и множество водных развлечений, таких
          как плавание, дайвинг и экскурсии на яхтах, что гарантирует незабываемые впечатления
          от отдыха. Кроме того, гости Хайнаня могут познакомиться с царством китайской традиционной
          медицины и насладиться уникальными вкусами настоящей китайской кухни, что делает
          остров еще более привлекательным и популярным среди туристов.
        h2 Посещение Китая
        p.
          Пекин, столица Китайской Народной Республики и крупный торговый центр, органично сочетает
          в себе исторические кварталы и современные архитектурные чудеса. Этот шумный мегаполис
          привлекает туристов со всего мира, которые съезжаются сюда, чтобы полюбоваться тщательно
          сохранившимися императорскими парками, монастырями и дворцами, а также отправиться
          в культовое путешествие по Великой Китайской стене. В то же время в Гонконге,
          городе, синонимом которого являются возвышающиеся небоскребы, роскошные отели и чистейшие пляжи,
          сочетание древних монастырей, зеленеющих рисовых полей и живописных горных пейзажей
          создает неповторимое очарование. Здесь традиционные китайские обычаи гармонично сочетаются
          с вестернизированным образом жизни, создавая яркий и эклектичный культурный ландшафт,
          сформированный сосуществованием различных национальностей. Известный своей яркой ночной
          жизнью, Гонконг может похвастаться множеством баров, ресторанов, клубов и дискотек,
          которые удовлетворяют самые разные вкусы и предпочтения, что еще больше подчеркивает
          привлекательность города как многогранного туристического направления.
        h2 Посещение Китая
        p.
          Отправляясь в тур в Китай, вы откроете для себя царство чарующих чудес и разнообразных
          впечатлений, демонстрирующих богатое культурное наследие, захватывающие дух пейзажи
          и яркий образ жизни страны. Исследуя древние достопримечательности Пекина, отдыхая
          на залитых солнцем пляжах Хайнаня или погружаясь в динамичную атмосферу Гонконга, каждое
          направление предлагает уникальный и захватывающий опыт, который находит отклик у путешественников
          со всего мира. Свидетельствуя о своей привлекательности и очаровании, Китай продолжает
          очаровывать туристов сочетанием традиций и современности, создавая незабываемое путешествие,
          наполненное исследованиями, открытиями и культурным обогащением.
        h2 Посещение Китая
        p.
          Помочь в будущей поездкой в Китай всегда готов наш визовый центр ALLVISA. Через нас вы можете
          быстро получить визу, купить билеты на самолет, забронировать жилье, заказать трансфер
          и другие туристические услуги. Доверьте организацию своего тура профессионалам ALLVISA!
  section.section
    .container
      .section__inner
        .section__header
          h2.section__title.section__title--news Читать еще
        .section__body
          .news-grid
            - var n = 0;
              while n < 2
                +news-tile(json.news[n++], "alt")
