extends ../templates/template__default.pug

block variables
  -
    isMainPage = false
    pageTitle = "Allvisa | Отзывы"
    metaDescription = "description"
    metaKeywords = "keywords"

block content
  section.hero.hero--full-height
    .hero__back
      img.hero__bg.hero__bg--left-vp(src= path.img + "img__bg-hero--pool.webp", alt="", aria-hidden="true")
      img.hero__ring.hero__ring--left(src= path.img + "img__ring.svg", alt="")
      img.hero__ring.hero__ring--right(src= path.img + "img__ring.svg", alt="")
    .container
      .hero__inner
        .hero__info
          .hero__label Отзывы
          h1.hero__title.hero__title--alt Мы скрупулезно улучшаем качество сервиса каждый день. Это видят и ценят наши клиенты
          .hero__reviews
            .hero__reviews-title Оставьте о нас отзыв
            .hero__reviews-row
              a.hero__button(href="#")
                svg
                  use(href= path.icon + "icon__ymaps")
                | Яндекс Карты
              a.hero__button(href="#")
                svg
                  use(href= path.icon + "icon__gmaps")
                | Google Maps
              a.hero__button(href="#")
                svg
                  use(href= path.icon + "icon__2gis")
                | 2ГИС
  section.section
    .container
      .reviews-block
        .reviews-block__scroll
          .reviews-block__tabs
            button.reviews-block__tab(data-reviews-trigger="all", data-active) Все отзывы
            button.reviews-block__tab(data-reviews-trigger="center") Визовый центр
            button.reviews-block__tab(data-reviews-trigger="emigration") Эмиграция
            button.reviews-block__tab(data-reviews-trigger="tourism") Туризм

        .reviews-block__list(data-reviews-list)
          each tile in json.reviews
            +reviews-tile(tile)
