extends ../templates/template__default.pug

block variables
  -
    isMainPage = false
    pageTitle = "Allvisa | Услуги"
    metaDescription = "description"
    metaKeywords = "keywords"

block content
  section.hero.hero--full-height
    .hero__back
      img.hero__bg(src= path.img + "img__bg-hero--family.webp", alt="", aria-hidden="true")
      img.hero__ring.hero__ring--left(src= path.img + "img__ring.svg", alt="")
      img.hero__ring.hero__ring--right(src= path.img + "img__ring.svg", alt="")
    .container
      .hero__inner
        .hero__info
          h1.hero__title Услуги ALLVISA
        .hero__row
          .hero__item
            .hero__item-title 9+ лет
            .hero__item-descr Работаем на рынке
          .hero__item
            .hero__item-title 99 %
            .hero__item-descr Одобренных виз
          .hero__item
            .hero__item-title 0 %
            .hero__item-descr Рассрочка для клиентов
          .hero__item
            .hero__item-title 100 тыс.
            .hero__item-descr Оформленных виз
  section.section
    .container
      .section__inner
        +services(json.servicesPage.services)
