extends ../templates/template__default.pug

block variables
  -
    isMainPage = false
    pageTitle = "Allvisa | Оформление виз"
    metaDescription = "description"
    metaKeywords = "keywords"

block content
  section.hero.hero--visas.hero--ring-alt
    .hero__back
      img.hero__bg(src= path.img + "img__bg-hero--airport.webp", alt="", aria-hidden="true")
      img.hero__ring.hero__ring--left(src= path.img + "img__ring.svg", alt="")
      img.hero__ring.hero__ring--right(src= path.img + "img__ring.svg", alt="")
    img.hero__couple(src= path.img + "img__couple.webp", alt="", aria-hidden="true")
    .container
      .hero__inner.hero__inner--grid
        .hero__info
          h1.hero__title.hero__title--alt Оформление виз
          p.hero__descr От 1 дня со 100 % гарантией получения по договору
          .hero__form.hero__form--mt
            +request-form()(action="https://jsonplaceholder.typicode.com/todos/", id="requestForm", data-steps="1")
  section.section
    .container
      .section__inner
        .section__header
          h2.section__title Популярные направления
        .section__body
          +direction-slider(json.directionSlider)
  section.section
    .container
      .section__inner
        .section__header
          h2.section__title Наши преимущества
        .section__body
          +advantages(json.china.mission, "alt")
  section.section
    .container
      .section__inner
        .section__header
          h2.section__title Выберите страну
          p.section__descr Для оформления визы
        .section__body
          .continents
            a.continents__item(href="#")
              .continents__title Европа
              img.continents__image(src= path.img + "img__continents--europe.webp", alt="")
            a.continents__item(href="#")
              .continents__title Азия
              img.continents__image(src= path.img + "img__continents--asia.webp", alt="")
            a.continents__item(href="#")
              .continents__title Северная Америка
              img.continents__image(src= path.img + "img__continents--america.webp", alt="")
            a.continents__item(href="#")
              .continents__title Океания
              img.continents__image(src= path.img + "img__continents--oceania.webp", alt="")
          +countries(json.countries.full)
  section.section
    .container
      +certificate
  section.section
    +map
  section.section
    .container
      +shout("alt")
  section.section
    .container
      +payment(json.payment)

block append head
  // заменить apikey на ключ заказчика
  script(src="https://api-maps.yandex.ru/2.1/?apikey=f927c969-28d5-4486-8125-084a9ab3d470&lang=ru_RU", type="text/javascript")
  script(type="module"): include ../blocks/map/yandexMaps.js
