@use "src/scss/breakpoints";
@use "src/scss/mixins/text-styles";

.news-slider {
  $block-name: &; // #{$block-name}__element

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 44px;

    @media screen and (min-width: breakpoints.$screen-d) {
      margin-top: 33px;
    }
  }

  &__fraction {
    display: flex;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    text-align: center;

    span {
      width: 32px;
    }

    .swiper-pagination-current {
      text-align: right;
    }

    .swiper-pagination-total {
      text-align: left;
    }
  }

  &__prev,
  &__next {
    cursor: pointer;

    &.swiper-button-disabled {
      cursor: default;
      opacity: 0.15;
    }

    svg {
      width: 24px;
      height: 24px;
      color: var(--front-primary);
    }
  }
}
