//- Все примеси в этом файле должны начинаться c имени блока (advantages)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin advantages(data, mods)

  //- Принимает:
  //-   data    {object} - данные
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +advantages(object, "some-mod")

  //- список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " advantages--" + modsList[i].trim();
      }
    }

  .advantages(class=allMods)&attributes(attributes)
    each item in data
      .advantages__item
        img.advantages__icon(src= path.img + "icon__" + item.icon + ".svg", alt="")
        .advantages__title!= item.title
        .advantages__descr!= item.description
