//- Все примеси в этом файле должны начинаться c имени блока (news-tile)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin news-tile(data, mods)

  //- Принимает:
  //-   data    {object} - данные
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +news-tile(object, "some-mod")

  //- список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " news-tile--" + modsList[i].trim();
      }
    }

  .news-tile(class=allMods)&attributes(attributes)
    img.news-tile__image(src= path.img + "img__news-post--" + data.img + ".webp", alt="")
    a.news-tile__title(href="#")!= data.title
    p.news-tile__descr!= data.description
    a.button.button--primary.button--large.news-tile__button(href="#") Подробнее
