@use "../../scss/breakpoints";
@use "../../scss/mixins/text-styles";
@use "node_modules/slim-select/dist/slimselect.css";

.select {
  $block-name: &; // #{$block-name}__element

  @include text-styles.input;

  min-height: 44px;
  max-height: 356px;
  padding: 12px 21px 8px 11px;
  background-size: 24px 24px;
  border: 1px solid var(--divider);
  border-radius: 25px;
  outline: none;
  transition: border 0.25s ease-out;
  appearance: none;

  @media screen and (min-width: breakpoints.$screen-tl) {
    min-height: 50px;
    padding: 15px 21px 11px 11px;
    background-size: 24px 24px;
  }

  &--has-value,
  &:focus {
    border-color: var(--front-accent);
  }

  &--invalid {
    border-color: var(--border-error);
  }

  &.ss-main {
    &:focus {
      box-shadow: none;
    }

    &.ss-open-below {
      border-radius: 25px;
      box-shadow: none;
    }

    .ss-arrow {
      margin: auto 0;
    }
  }

  &.ss-content {
    margin: 5px 0 !important;
    padding: 8px;
    background: var(--back-primary);
    border: 0;
    border-radius: 16px;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 12%);

    & .ss-list .ss-option {
      padding: 8px 8px 4px;
      border-radius: 8px;

      &.ss-highlighted,
      &:hover,
      &:not(.ss-disabled).ss-selected {
        color: var(--front-primary);
        background-color: rgb(0 0 0 / 5%);
      }
    }
  }

  &::placeholder {
    color: var(--front-secondary);
  }

  &[disabled] {
    color: var(--front-tertiary);
    background-color: var(--back-secondary);
    border-color: var(--divider);
    cursor: not-allowed;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-box-shadow: none;
  }
}
