@use "../../scss/breakpoints";
@use "../../scss/mixins/text-styles";

.select {
  $block-name: &; // #{$block-name}__element

  @include text-styles.input;

  height: 44px;
  padding: 12px 21px 8px 11px;
  background: url("{{icon}}icon__arrow--down-view") right 11px top 11px no-repeat, var(--back-primary);
  background-size: 24px 24px;
  border: 1px solid var(--divider);
  border-radius: 25px;
  outline: none;
  transition: border 0.25s ease-out;
  appearance: none;

  @media screen and (min-width: breakpoints.$screen-tl) {
    height: 50px;
    padding: 15px 21px 11px 11px;
    background: url("{{icon}}icon__arrow--down-view") right 11px top 14px no-repeat, var(--back-primary);
    background-size: 24px 24px;
  }

  &--has-value,
  &:focus {
    border-color: var(--front-accent);
  }

  &::placeholder {
    color: var(--front-secondary);
  }

  &--invalid {
    border-color: var(--border-error);
  }

  &[disabled] {
    color: var(--front-tertiary);
    background-color: var(--back-secondary);
    border-color: var(--divider);
    cursor: not-allowed;

    &::placeholder {
      //color: var(--front-tertiary);
    }
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    //border: 1px solid var(--border-button);
    //-webkit-text-fill-color: var(--back-primary);
    -webkit-box-shadow: none;
  }
}
