//- Все примеси в этом файле должны начинаться c имени блока (header)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin header(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +header("some-mod")

  //- список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " header--" + modsList[i].trim();
      }
    }

  .header(class=allMods)&attributes(attributes)
    .container
      .header__inner
        .header__top
          if isMainPage
            .header__logo
              img.header__img(src= path.img + "logo__allvisa--white.svg", alt="AllVisa")
          else
            a.header__logo(href="/")
              img.header__img(src= path.img + "logo__allvisa--white.svg", alt="AllVisa")
          .header__center
            nav.header__nav
              ul.header__nav-list
                li.header__nav-item
                  a.header__link(href="#") О компании
                li.header__nav-item
                  a.header__link(href="#") Блог
                li.header__nav-item
                  a.header__link(href="#") Вакансии
                li.header__nav-item
                  a.header__link(href="#") Контакты
            form#mainSearch.header__search(action="https://jsonplaceholder.typicode.com/posts")
              input.header__search-input(type="search", placeholder="Я ищу...")
              button.header__search-button
                svg.header__search-icon
                  use(href= path.icon + "icon__search")
          .header__actions
            button.header__button.header__button--search
              svg.header__icon
                use(href= path.icon + "icon__search")
              span.header__button-title Поиск
            a.header__button.header__button--payment(href="#")
              svg.header__icon
                use(href= path.icon + "icon__wallet")
              span.header__button-title Оплата услуг
            a.header__button(href="#")
              svg.header__icon
                use(href= path.icon + "icon__user--alt")
              span.header__button-title Личный кабинет
          +button-burger()(class="header__burger", data-burger)
        .header__bottom
          .header__socials
            a.header__social(href="#")
              svg.header__social-icon
                use(href= path.icon + "icon__social--tg")
            a.header__social(href="#")
              svg.header__social-icon
                use(href= path.icon + "icon__social--vk")
            a.header__social(href="#")
              svg.header__social-icon
                use(href= path.icon + "icon__social--wa")
          ul.header__links
            li.header__links-item
              a.header__link(href="#") Оформление виз
            li.header__links-item
              a.header__link(href="#") Эмиграционные услуги
            li.header__links-item
              a.header__link(href="#") Туристические услуги
            li.header__links-item
              a.header__link(href="#") Услуги для Юр. Лиц
            li.header__links-item
              button.header__link(data-burger) Все услуги
          .header__call
            a.header__phone(href="tel:88004444140") 8 (800) 444-41-40
            button.header__callback(data-callback) обратный звонок

mixin header-lk(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +header("some-mod")

  //- список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " header--" + modsList[i].trim();
      }
    }

  .header.header--lk(class=allMods)&attributes(attributes)
    .header__inner
      a.header__logo
        img.header__img(src= path.img + "logo__allvisa--color.png", alt="AllVisa")
      button.header__burger(data-burger)
        img.header__icon(src= path.img + "icon__burger.svg", alt="Меню")
