//- Все примеси в этом файле должны начинаться c имени блока (header)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin header(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +header("some-mod")

  //- список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " header--" + modsList[i].trim();
      }
    }

  .header(class=allMods)&attributes(attributes)
    .header__inner
      a.header__logo
        img.header__img(src= path.img + "logo__allvisa--color.png", alt="AllVisa")
      button.header__burger(data-burger)
        img.header__icon(src= path.img + "icon__burger.svg", alt="Меню")
